.forecast {
  font-weight: normal;
}

.three-days {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.first-day,
.second-day,
.third-day {
  margin-left: 20px;
}

.first-day-temps,
.second-day-temps,
.third-day-temps {
  margin-left: 50px;
}

.first-day-name {
  position: absolute;
  margin-top: 20px;
  margin-left: 100px;
}

.second-day-name {
  position: absolute;
  margin-top: 170px;
  margin-left: 100px;
}

.third-day-name {
  position: absolute;
  margin-top: 320px;
  margin-left: 100px;
}

.first-day-weather {
  position: absolute;
  margin-top: 60px;
  margin-left: 100px;
}

.second-day-weather {
  position: absolute;
  margin-top: 210px;
  margin-left: 100px;
}

.third-day-weather {
  position: absolute;
  margin-top: 360px;
  margin-left: 100px;
}

.first-day-max-min {
  position: absolute;
  margin-top: 40px;
  margin-left: 270px;
}

.second-day-max-min {
  position: absolute;
  margin-top: 190px;
  margin-left: 270px;
}

.third-day-max-min {
  position: absolute;
  margin-top: 340px;
  margin-left: 270px;
}

.first-day-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.second-day-icon {
  position: absolute;
  margin-top: 160px;
  margin-left: 10px;
}

.third-day-icon {
  position: absolute;
  margin-top: 310px;
  margin-left: 10px;
}
